<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>黑客入侵了一家硅谷创业公司，获得了超过15万个摄像头的访问权限，其中包括 Cloudflare ，特斯拉，医院和监狱的摄像头 | TIR.cool</title>

  <link rel="stylesheet" href="detail.css">
  <link rel="stylesheet" href="https://unpkg.com/octomments/build/ocs-ui.min.css" />
  <script src="https://unpkg.com/octomments/build/ocs.min.js"></script>

</head>
<body>
  <div class="header">
    <div class="menu-left">
      <span>
        <mark>TIR</mark>.cool
      </span>
    </div>
    <div class="menu-right">
      <a class="menu-link" id="share-link" href="#">💡分享</a>
    </div>
  </div>
  <div class="wrapper">
    <div class="issue-detail">
      <div class="publisher">
        @jwenjian 发布于 1 小时前 :
      </div>
      <div class="title">
        <p>黑客入侵了一家硅谷创业公司，获得了超过15万个摄像头的访问权限，其中包括 Cloudflare ，特斯拉，医院和监狱的摄像头
          黑客入侵了一家硅谷创业公司，获得了超过15万个摄像头的访问权限，其中包括 Cloudflare ，特斯拉，医院和监狱的摄像头
          黑客入侵了一家硅谷创业公司，获得了超过15万个摄像头的访问权限，其中包括 Cloudflare ，特斯拉，医院和监狱的摄像头
          黑客入侵了一家硅谷创业公司，获得了超过15万个摄像头的访问权限，其中包括 Cloudflare ，特斯拉，医院和监狱的摄像头
          黑客入侵了一家硅谷创业公司，获得了超过15万个摄像头的访问权限，其中包括 Cloudflare ，特斯拉，医院和监狱的摄像头
          黑客入侵了一家硅谷创业公司，获得了超过15万个摄像头的访问权限，其中包括 Cloudflare ，特斯拉，医院和监狱的摄像头
        </p> 
      </div>
      <div class="body">
        <p>https://tir.cool</p>
      </div>
      <p class="comment-tips">和大家一起讨论一下吧~</p>
      <div id="comment"></div>
    </div>
    
  </div>
</body>
<script>
  Octomments({
    github: {
      owner: 'jwenjian',
      repo: 'reading-list',
    },
    issueNumber: 1,
    renderer: [OctommentsRenderer, '#comment']
  }).init();
</script>
</html>