<!DOCTYPE html>
<html lang="zh_CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Today I Read, a reading list with daily update;Tech news, open source, programming etc.">
  <meta name="keywords" content="TIR, 阅读列表, 科技新闻, Today I Read, Tech news, Hacker news, Geek news">
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📖</text></svg>">
  <title>TIR: Today I Read</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <h1> <mark>T</mark>oday <mark>I</mark> <mark>R</mark>ead</h1>
  <h5 id="current-date"></h5>
  <div class="wrapper">
    <div class="data-list">
      <ul class="list">
      </ul>
      <hr class="split-line">
      <h5>近期</h5>
      <ul class="recent-list">
      </ul>
    </div>
  </div>
  <div class="footer">
    <a href="https://github.com/jwenjian/reading-list/issues" target="_blank">归档</a>
    <p>Made with 💖 by <a href="https://github.com/jwenjian" target="_blank">@jwenjian</a> </p>
  </div>
</body>
<script type="text/javascript" src="page.js"></script>

</html>