@media (prefers-color-scheme: light) {
  :root {
    --text-color: #121212;
    --li-border-color: #e1e4e8;
    --link-color: #121212;
    --link-hover-color: #0366d6;
    --other-color: #6bb5ff;
    --main-color: hotpink;
    --bg-color: #fefefe;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #adbac7;
    --li-border-color: #373e47;
    --main-color: #6b4759;
    --link-color: #adbac7;
    --link-hover-color: #539bf5;
    --bg-color: #22272e;
    --other-color: #6bb5ff;
  }
}

body {
  background-color: var(--bg-color);
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--text-color);
}

a {
  color: var(--link-color)
}

a:hover {
  color: var(--link-hover-color);
}

.header {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-left {
  text-align: left;
  padding-left: 5vw;
  font-size: x-large;
}

.menu-right {
  padding-right: 3vw;
}

.menu-link {
  display: inline-block;
  text-decoration: none;
  border: 1px solid var(--li-border-color);
  padding: 0.25em 0.5em;
  border-radius: 5px;
  letter-spacing: 0.15em;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper h5 {
  text-align: center;
}

.data-list {
  text-align: left;
  width: 80vw;
}

ul {
  padding-left: 0;
}

ul li {
  max-width: 80vw;
  border: var(--li-border-color) 1px solid;
  padding: 0.25em;
  list-style-type: '📖';
  list-style-position: inside;
  margin-top: 0.9em;
  border-radius: 5px;
  min-height: 2em;
}

ul li a {
  display: inline-block;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.5em;
  vertical-align: top;
  text-decoration: none;
  color: var(--link-color);
  font-size: 14px;
}

ul li a:hover {
 text-decoration: underline;
}

/* ul li:hover {
  box-shadow: var(--main-color) 5px 5px;
} */

mark {
  background-color: var(--main-color);
  color: var(--text-color);
}

.footer {
  font-size: small;
}

.split-line {
  border: 1px dashed var(--li-border-color);
}
