body {
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.header {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-left {
  text-align: left;
  padding-left: 5vw;
  font-size: x-large;
}

.menu-right {
  padding-right: 5vw;
}

.menu-link {
  display: inline-block;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper h5 {
  text-align: center;
}

.data-list {
  text-align: left;
  width: 80vw;
}

ul {
  padding-left: 0;
}

ul li {
  max-width: 80vw;
  border: hotpink 1px solid;
  padding: 0.25em;
  list-style-type: '📖';
  list-style-position: inside;
  margin-top: 0.5em;
  border-radius: 5px;
}

ul li a {
  display: inline-block;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.5em;
  vertical-align: top;
}

ul li:hover {
  box-shadow: hotpink 5px 5px;
}

mark {
  background-color: hotpink;
}

.footer {
  font-size: small;
}

.split-line {
  border: 1px dashed hotpink;
}