@media (prefers-color-scheme: light) {
  :root {
    --main-color: hotpink;
    --link-color: #3e0238;
    --bg-color: #fefefe;
    --other-color: #2c3e50;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --main-color: hotpink;
    --link-color: #ffd5fb;
    --bg-color: #121212;
    --other-color: #6bb5ff;
  }
}

body {
  background-color: var(--bg-color);
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--other-color);
}

a {
  color: var(--link-color)
}

.header {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-left {
  text-align: left;
  padding-left: 5vw;
  font-size: x-large;
}

.menu-right {
  padding-right: 5vw;
}

.menu-link {
  display: inline-block;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper h5 {
  text-align: center;
}

.data-list {
  text-align: left;
  width: 80vw;
}

ul {
  padding-left: 0;
}

ul li {
  max-width: 80vw;
  border: var(--main-color) 1px solid;
  padding: 0.25em;
  list-style-type: '📖';
  list-style-position: inside;
  margin-top: 0.9em;
  border-radius: 5px;
  min-height: 2em;
}

ul li a {
  display: inline-block;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.5em;
  vertical-align: top;
  text-decoration: none;
  color: var(--link-color);
}

ul li a:hover {
 text-decoration: underline;
}

ul li:hover {
  box-shadow: var(--main-color) 5px 5px;
}

mark {
  background-color: var(--main-color);
}

.footer {
  font-size: small;
}

.split-line {
  border: 1px dashed var(--main-color);
}